<button class="btn btn-danger w-25 " (click)="clearAllEvents()">Supprimer tous les events</button>
  <div class="card_event row mb-3 mt-3" *ngFor="let event of this.evenements; index as i">
    <div class="card_infos">
      <div class="first_row"> N°{{ i + 1}}
        <div *ngIf="username == event.createur"><button class="btn btn-outline-primary" (click)="getInfoEvent(event)">Définir</button></div>
      </div>
      <div> Titre : {{ event.titre}} </div>
      <div> Description : {{ event.description}} </div>
      <div> Créateur : {{ event.createur}} </div>
    </div>
    <hr>
    <div class="card_creneaux col-6 pb-3 text-center" *ngFor="let creneau of event.creneaux">
      Date début : {{ creneau.date_debut }} <br>
      Heure début : {{ creneau.heure_debut }} <br>
      Date fin : {{ creneau.date_fin }} <br>
      Heure fin : {{ creneau.heure_fin }} <br>
      <button class="btn btn-success m-2" (click)="addUserToEvent(creneau,true)">👍</button>
      <button class="btn btn-danger"(click)="addUserToEvent(creneau,false)" >👎</button>
    </div>
  </div>
