.card_event {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.card_infos {
  display: flex;
  flex-direction: column;
}

.first_row {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.position-fixed {
  position: fixed!important;
  top: 40px; right: 40px;
}
