<button class="btn btn-danger w-25 " (click)="clearAllEvents()">Supprimer tous les events</button>
  <div class="card_event row mb-3 mt-3" *ngFor="let event of this.evenements; index as i">
    <div class="card_infos col-md-6 col-sm-12">
      <div> N°{{ i + 1}}</div>
      <div> Titre : {{ event.titre}} </div>
      <div> Description : {{ event.description}} </div>
      <div> Créateur : {{ event.createur}} </div>
    </div>
    <div class="card_creneaux col-md-6 col-sm-12 pb-3" *ngFor="let info of event.creneaux">
      Date début : {{ info.date_debut }} <br>
      Heure début : {{ info.heure_debut }} <br>
      Date fin : {{ info.date_fin }} <br>
      Heure fin : {{ info.heure_fin }} <br>
      <button class="btn btn-success" >Participer</button>
      <button class="btn btn-warning" >Peut-être</button>
    </div>
  </div>
