<div class="form-group">
  <label for="Titre" class="col-form-label sous-titre">Titre</label>
  <div>
    <input type="text" class="form-control w-50" id="Titre" [(ngModel)] = "evenement.titre">
  </div>
</div>
<div class="form-group mt-2 mb-2">
  <label for="Description" class="col-form-label sous-titre">Description</label>
  <div>
    <textarea  class="form-control w-75" id="Description" [(ngModel)] = "evenement.description"> </textarea>
  </div>
</div>
<div class="form-group mt-2 mb-2">
  <label class=" col-form-label sous-titre">Créneau(x)</label>
  <div class="row pl-3">
    <div class="card_creneau col-md-4 col-sm-6 mt-3" *ngFor="let creneau of this.evenement.creneaux; index as i">
      <div class="first_line_card">N° {{i + 1}}  <button class="btn btn-danger" (click)="supprimerCreneau(creneau)">
        <fa-icon [icon]="faTrash"></fa-icon></button>
      </div>
      <div class="date_titre">Date début</div> <input type="date" class="form-control" [min]="mindate" id="creneau_date_debut" [(ngModel)] = "creneau.date_debut">
      <input type="time" class="form-control" id="creneau_heure_debut" [(ngModel)] = "creneau.heure_debut">
      <br>
      <div class="date_titre">Date fin</div>  <input type="date" class="form-control" [min]="mindate" id="creneau_date_fin" [(ngModel)] = "creneau.date_fin">
      <input type="time" class="form-control" id="creneau_heure_fin" [(ngModel)] = "creneau.heure_fin">
    </div>
  </div>
  <hr>
  <button class="btn btn-primary mt-1" (click)="ajouterCreneau()"> <!-- TODO : ajouter html et datetime picker -->
    <fa-icon [icon]="faPlus"></fa-icon> Ajouter un créneau
  </button>
</div>
<div class="alert alert-danger d-none w-75" role="alert" id="error_form">
  Erreur : veillez bien à choisir un titre et à assigner tous les créneaux.
</div>
<button class="btn btn-success" (click)="valider()">Valider</button>
<div class="alert alert-success mt-2 d-none w-25" role="alert" id="event_ok">
  Événement créé !
</div>
