<div class="form-group">
  <label for="Titre" class="col-form-label">Titre</label>
  <div>
    <input type="text" class="form-control w-50" id="Titre" [(ngModel)] = "evenement.titre">
  </div>
</div>
<div class="form-group mt-2 mb-2">
  <label for="Description" class=" col-form-label">Description</label>
  <div>
    <textarea  class="form-control w-75" id="Description" [(ngModel)] = "evenement.description"> </textarea>
  </div>
</div>
<button class="btn btn-primary" (click)="valider()">Valider</button>
<br>
TEST :
<pre>{{ evenement | json}}</pre>
