
<div class="row mt-5">
  <div class="col-sm-6 offset-3" id="connexion">
    <h3>Connexion</h3>
    <div class="form-group">
      <label for="Username" class="col-form-label">Nom d'utilisateur</label>
      <div>
        <input type="text" class="form-control w-50" id="Username" [(ngModel)] = "user.username">
      </div>
      <label for="Pwd" class=" col-form-label">Mot de passe</label>
      <div>
        <input type="password" class="form-control w-50" id="Pwd" [(ngModel)]= "user.password">
      </div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="connection()">Valider</button>
    <div class="mb-2 mt-3">Pas encore de compte ?
      <button class="btn btn-dark rounded-1" (click)="afficherInscription()">S'inscrire</button>
    </div>

  </div>
  <div class="col-sm-6 offset-3 d-none" id="inscription">

    <h3>Inscription</h3>
    <div class="form-group">
      <label for="Username" class="col-form-label">Nom d'utilisateur</label>
      <div>
        <input type="text" class="form-control w-50" id="Username" [(ngModel)] = "user.username">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="LName" class="col-form-label">Nom</label>
          <input type="text" class="form-control" id="LName" [(ngModel)] = "user.nom">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="FName" class="col-form-label">Prénom</label>
          <input type="text" class="form-control" id="FName" [(ngModel)] = "user.prenom">
        </div>
      </div>
      <label for="Pwd" class=" col-form-label">Mot de passe</label>
      <div>
        <input type="password" class="form-control w-50" id="Pwd" [(ngModel)]= "user.password">
      </div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="inscription()">Valider</button>
    <div class="mb-2 mt-3">J'ai déjà un compte ?
      <button class="btn btn-dark rounded-1" (click)="afficherConnexion()">Se connecter</button>
    </div>
  </div>
</div>
