<div class="row mt-5">
  <div class="col-sm-9 offset-3 alert alert-danger w-50" role="alert" id="error_form" *ngIf="erreurSignUp||erreurLogin">
    Erreur : votre username est
    <div *ngIf="erreurLogin"> inconnu de nos services.</div>
    <div *ngIf="erreurSignUp"> indisponible car déjà utilisé.</div>
  </div>
  <div class="col-sm-9 offset-3" id="connexion" *ngIf="!inscriptionForm">
    <h3>Connexion</h3>
    <div class="form-group">
      <label for="Username" class="col-form-label">Nom d'utilisateur</label>
      <div>
        <input type="text" class="form-control w-50" id="Username" [(ngModel)] = "user.username">
      </div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="connection()">Valider</button>
    <div class="mb-2 mt-3">Pas encore de compte ?
      <button class="btn btn-dark rounded-1" (click)="afficherInscription()">S'inscrire</button>
    </div>
  </div>

  <div class="col-sm-9 offset-3" id="inscription" *ngIf="inscriptionForm">
    <h3>Inscription</h3>
    <div class="form-group">
      <label for="Username" class="col-form-label">Nom d'utilisateur</label>
      <div>
        <input type="text" class="form-control w-50" id="Username" [(ngModel)] = "user.username">
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="prenom" class="col-form-label">Prenom</label>
          <input type="text" class="form-control" id="prenom" [(ngModel)] = "user.prenom">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="nom" class="col-form-label">Nom</label>
          <input type="text" class="form-control" id="nom" [(ngModel)] = "user.nom">
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="inscription()">Valider</button>
    <div class="mb-2 mt-3">J'ai déjà un compte ?
      <button class="btn btn-dark rounded-1" (click)="afficherConnexion()">Se connecter</button>
    </div>
  </div>
</div>
