#title {
  margin-top: 15vh;
  font-weight: bolder;
  font-size: 38px;
  margin-bottom: 5vh;
}

.main {
  display: flex;
  flex-direction: column;
}

#description {
  margin-bottom: 5vh;
}

#description span {
  display: flex;
  flex-direction: column;
}

#datepickerImage {
  float: right;
  top: 15vh;
  margin-bottom: 0;
  width: 480px;
}

#create_dodle {
  margin-bottom: 5vh;
}
