@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}

a {
  color: black !important;
  text-decoration: none !important;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

